<ion-header>
  <ion-toolbar>
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding-top>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <ion-item class="input" lines="none">
        <ion-label position="floating">{{'RESET-PASSWORD.reset-password-form.labels.passcode' | translate}}</ion-label>
        <ion-input type="number" formControlName="passcode"></ion-input>
      </ion-item>
      <ion-item class="input" lines="none">
        <ion-label position="floating">{{'RESET-PASSWORD.reset-password-form.labels.password' | translate}}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="input" lines="none">
        <ion-label position="floating">{{'RESET-PASSWORD.reset-password-form.labels.confirmPassword' | translate}}
        </ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!resetPasswordForm.valid" color="light" shape="round">
        {{'RESET-PASSWORD.reset-password-form.buttons.submit' | translate}}</ion-button>
    </form>
</ion-content>