<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'LOGIN.page-title' | translate}}</ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="openLanguagePopover($event)">
      <ion-icon name="more" slot="icon-only">
      </ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">{{'LOGIN.login-form.labels.email' | translate}}</ion-label>
      <ion-input type="email" formControlName="emailId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'LOGIN.login-form.labels.password' | translate}}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">
      {{'LOGIN.login-form.buttons.submit' | translate}}</ion-button>
    <ion-button expand="full" type="button" (click)="register()" color="secondary">
      {{'LOGIN.login-form.buttons.register' | translate}}</ion-button>
  </form>

</ion-content>