
ion-header {
    --ion-background-color: none;
}

ion-content {
    --ion-background-color: var(--ion-color-primary);
}

ion-item {
    --ion-background-color: none;
}

ion-input {
    --ion-background-color: none;
}

ion-item.input {
    border-radius: 30px;
    margin: 20px 10px;
    --ion-background-color:#c9edf8;
}

ion-button {
    --border-radius: 30px;
    margin: 10px;
    height: 48px;
    --color:#fff;
    --color-activated: #fff;
}

a.router-link {
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 500;
}