<ion-header>
  <ion-toolbar>
    <ion-title>My Dashboard</ion-title>

    <ion-chip slot="end">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{data.firstName}} {{data.lastName}}</ion-label>
    </ion-chip>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{data}}</p>
  {{ 'HOME.greeting' | translate:params }}

  <p>{{message}}</p>


</ion-content>