<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'HOME.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon name="more" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- With pipe -->
  {{ 'HOME.greeting' | translate:params }}

  <!-- With directive -->
  <ion-text color="secondary" [translate]="'HOME.greeting'" [translateParams]="params"></ion-text>

  <!-- With directive and html -->
  <ion-text color="secondary" [innerHTML]="'HOME.withcode' | translate"></ion-text>

  <ion-button expand="block" (click)="showAlert()">
    {{ 'HOME.btn' | translate }}
  </ion-button>

</ion-content>